# Lights module uses the "timer" trigger, which creates the attributes
# "delay_on" and "delay_off", for blinking.
/sys/devices/platform/leds-mt65xx/leds/green   delay_on      0644  system   system
/sys/devices/platform/leds-mt65xx/leds/green   delay_off     0644  system   system
/sys/devices/platform/leds-mt65xx/leds/red     delay_on      0644  system   system
/sys/devices/platform/leds-mt65xx/leds/red     delay_off     0644  system   system
/sys/devices/platform/leds-mt65xx/leds/blue    delay_on      0644  system   system
/sys/devices/platform/leds-mt65xx/leds/blue    delay_off     0644  system   system






# A specific uevent.rc file is needed for proprietary features. Unfortunately,
# the init system supports just the general "uevent.rc" file and the device
# specific "uevent.{HARDWARE}.rc" file; it is not possible to divide the device
# specific file in others, for example for uevents needed by Free Software
# components and for uevents needed by proprietary components. Therefore, this
# file must include also the permissions needed by the proprietary features,
# instead of only those for the FOSS device tree (although this does not affect
# the FOSS condition of the device tree, as no proprietary features are actually
# included).

# Needed by gralloc.mt6589.so.
/dev/graphics/fb0         0660   system     graphics

# Needed by hardware accelerated graphics; it must be accessible for every user,
# as it is opened (indirectly) even by user applications.
/dev/pvrsrvkm             0666   root       root

# Needed by nvram_daemon. Although nvram_daemon will access /dev/nvram and
# /dev/pro_info the dumchar driver that manages them will in turn access the
# disk that those partitions belong to, that is, /dev/block/mmcblk0.
/dev/block/mmcblk0        0660   root       system
/dev/nvram                0660   root       system
/dev/pro_info             0660   root       system

# /dev/hwmsensor is used by sensors.default.so. It seems to act as a hub where
# sensor values can be read. Due to this, sensors.default.so does not require
# extra permissions for other devices like /dev/als_ps. However, other
# executables may access specific sensor devices and thus their permissions have
# to be tweaked:
#   -/dev/gsensor and /dev/msensor are used by memsicd3416x.
#   -/dev/gsensor and /dev/gyroscope should be accessible by nvram_daemon to
#    perform their calibration.
/dev/hwmsensor            0660   system     system
/dev/gsensor              0660   system     system
/dev/gyroscope            0660   system     system
/dev/msensor              0660   system     system

# Needed by 6620_launcher.
/dev/ttyMT2               0660   system     system

# Needed by gps.default.so and libmnlp_mt6628.
/dev/gps                  0660   gps        gps

# Needed by mnld.
/sys/devices/virtual/gpsdrv/gps    pwrctl     0660   gps        gps
/sys/devices/virtual/gpsdrv/gps    pwrsave    0660   gps        gps
/sys/devices/virtual/gpsdrv/gps    state      0660   gps        gps
/sys/devices/virtual/gpsdrv/gps    status     0660   gps        gps
/sys/devices/virtual/gpsdrv/gps    suspend    0660   gps        gps
